<!DOCTYPE html>
<html>
<style>
    .nav-pills > li.active > a, .nav-pills > li.active > a:focus {
        color: black;
        background-color: #5EC8BD;
    }

    .nav-pills > li.active > a:hover {
        background-color: #7ED3CA;
        color:black;
    }

    .nav-pills a{
        color: #418C84
    }
</style>
<head>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel=stylesheet type=text/css href="/static/woofhack.css">
    <title>Woofhack</title>
</head>
<body>
    <h1>
        <a href="${url_for('index')}"><img src="/static/logo.png" alt="Logo" style="width:128px;height:148px;border:0;"></a>
        Woofhack${' - as ' + user.username if user else ""}
    </h1>
    <hr>
    % if alerts:
      % for alert in alerts:
        <div class="alert alert-${alert.alert_type}"><strong>${alert.alert_header}</strong> ${alert.alert_message}</div>
      % endfor
    % endif
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li ${'class="active"' if templatename == "index.html" else ''}><a href="${url_for('index')}">Problems</a></li>
            <li ${'class="active"' if templatename == "scoreboard.html" else ''}><a href="${url_for('scoreboard')}">Scoreboard</a></li>
            % if user:
              % if user.admin:
                <li ${'class="active"' if templatename == "new_problem.html" else ''}><a href="${url_for('new_problem')}">New Problem</a></li>
              % endif
              <li><a href="${url_for('logout')}">Log Out</a></li>
            % else:
              <li ${'class="active"' if templatename == "register.html" else ''}><a href="${url_for('register')}">Register</a></li>
              <li ${'class="active"' if templatename == "login.html" else ''}><a href="${url_for('login')}">Log In</a></li>
            % endif
        </ul>
        ${self.body()}
    </div>
</body>
</html>
