<!DOCTYPE html>
<html>
<style>
    html {
        background: url(https://media.giphy.com/media/CA3X0kpubZm5G/giphy.gif) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<head>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel=stylesheet type=text/css href="/static/woofhack.css">
    <title>Woofhack</title>
</head>
<body>
    <h1 align="center">Are you lost?</h1>
</body>
</html>




