<!doctype html>
<html>
   <head>
      <title>Upload a new problem file</title>
   </head>
   <body>
      <h1>Upload a file to compile and run</h1>
      <form action="" method="post" enctype="multipart/form-data">
         <p>
             Problem name: <input type="text" name="title"><br/>
             Problem Description (plaintex, HTML or Markdown): <input type="file" name="description"><br/>
             Test cases (json): <input type="file" name="testcases"><br/>
             Note that all test cases must be a separate json object with "name", "input", "output" and "type" attributes <br/>
             The type of a test case may be "example" or "test".<br/>
             <input type="submit" value="Upload"><input type="reset">
         </p>
      </form>
   </body>
</html>