<%inherit file="layout.html"/>
<h1>Scoreboard</h1>
<table class="table table-striped">
  <tr>
    <th>user</th>
    % for problem in problems:
    <th>${problem.title}</th>
    % endfor
  </tr>
  % for user_mapping in user_mappings:
    ${makerow(*user_mapping)}
  % endfor
</table>

<%def name="makerow(username, problem_mappings)">
    <tr>
        <td>${username}</td>\
        % for color, classification in problem_mappings:
          <td style="color:${color};">${classification}</td>\
        % endfor
    </tr>
</%def>
