<%inherit file="layout.html"/>
<body>
  <h1>Problem: ${prob.title}</h1>
  <h3>Description:</h3>
  <div style="border: 1px solid #418C84;padding:5px;border-radius:5px;">
  ${prob.description}
  </div>
  % for test in tests:
  <h3>Examples:</h3>
    <h4>Input</h4>
    <pre class="code">${test.inp}</pre>
    <h4>Output</h4>
    <pre class="code">${test.out}</pre>
  % endfor
  <form action="" method="post" enctype="multipart/form-data">
      <p>Choose your programming language</p>
       <select name="language">
         <option value="c++">C++</option>
         <option value="python2">Python 2</option>
         <option value="python3">Python 3</option>
       </select><br>
       <input type="file" name="file"><br/>
       <input type="submit" name="Upload">
  </form>
</body>
